/server/node_modules

app/.npm-cache

/model/model
/model/outputs
/model/SFT_data
/model/qwen2.5-1.7B
/model/model.zip
/model/__pycache__/

/database/finish_file
/database/medlive_chunks
/database/medlive_data
/database/origin_file
/database/processed_pdf
/database/processed_txt
/database/wiki_diabetes
/database/embeddings
/database/faiss_index
/database/faiss_index.zip

.vscode/*
.claude/*